<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/be89ee8023.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100&family=Source+Code+Pro:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Marea Lunar</title>
</head>
<body>
    <video class="video-intro" autoplay muted loop src="./images/arbol.mp4"></video>
    <header>
        <nav class="nav-principal">
            <i class="fa-solid fa-bars"></i>
            <ul>
                <li>Música</li>
                <li>Videos</li>
                <li>Fotos</li>
            </ul>
            <img src="./images/marea-lunar.jpg" alt="">
            <i class="fa-solid fa-music"></i>
        </nav>
        <nav class="nav-secundario">
            <ul>
                <li><a href="#fotos">Fotos</a></li>
                <li><a href="#musica">Música</a></li>
                <li><a href="#videos">Videos</a></li>
            </ul>
        </nav>
    </header>
    <div class="text-inicial">
        <h1>Marea Lunar</h1>
        <p>World music</p>
    </div>
    <section class="section-musica">
        <h2 id="fotos">Fotos</h2>
        <div class="fotos-musica">
            <img src="./images/Portada.jpg" alt="">
            <img class="foto-parque" src="./images/marea-foto-parque.jpg" alt="">
        </div>
    </section>
    <section class="section-musica2">
        <h2 id="musica">Música</h2>
        <div class="renacuajo">
            <h3>El renacuajo paseador</h3>
            <audio controls src="./images/renacuajo.mp3">El renacuajo paseador</audio>
        </div>
    </section>
    <section class="section-video">
        <h2 id="videos">Videos</h2>
        <video controls src="./images/INTROSI.mp4"></video>
    </section>
</body>
</html>